@import "tailwindcss";

@theme {
  --color-primary: #6edf5d;
  --color-bg-primary: #020202;
  --color-accent: #d7d8fd;
  --color-bg-secondary: #262626;
  --text-body: clamp(1rem, 1vw, 1.25rem);
}

/* 1.125rem = 18px */

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  & > div {
    width: 32px;
    height: 3px;
    background: #fff;
  }
}
